<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta prefix="og: http://ogp.me/ns#" property="og:image"
          content="https://og-image.vercel.app/**My**%20Porfolio.png?theme=dark&md=1&fontSize=100px&images=https%3A%2F%2Fassets.vercel.com%2Fimage%2Fupload%2Ffront%2Fassets%2Fdesign%2Fvercel-triangle-white.svg"/>
    <meta prefix="og: http://ogp.me/ns#" property="og:image:width" content="1200">
    <meta prefix="og: http://ogp.me/ns#" property="og:image:height" content="600">
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Karthikey's Portfolio">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="object">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ title }}">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://karthihegde.herokuapp.com/">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="My Portfolio written with Rust">
</head>
<div class="container">
    <div class="nav justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-inverse">
            <a class="nava nav-head navbar-brand" href="#" color="rgba(252, 248, 0, 0.729)">Home</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#webnavbar"
                    aria-controls="webnavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="webnavbar">
                <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nava nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nava nav-link" href="#">Resume</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<h1 class="header">{{name}}</h1>
<hr/>
<body>
<div>
    <h1>Skills</h1>
    <p>
    <ul class="skills">
        {{#each skill}}
            <li class="skills"><span id="skill-type">{{this.skilltype}}: </span>
                {{this.skills}}
            </li>
        {{/each}}
    </ul>
    </p>
    <hr/>
    <h1>Projects</h1>
    <p>
    <ul class="project-list">
        {{# each projects}}
            <li class="pr">
                <a class="projects" href={{this.git}} target=_blank>{{this.name}}:</a>{{this.description}}
            </li>
        {{/each}}
    </ul>
    </p>
</div>
<hr/>
<h1>Contacts</h1>
<p>
<ul class="project-list">
    <li class="pr">
        <a class="projects" href="https://www.linkedin.com/in/karthihegde010" target=_blank>Linkedin</a>
    </li>
    <li class="pr">
        <a class="projects" href="mailto:karuhegde4343@gmail.com">Gmail</a>
    </li>
    <li class="pr">
        <a class="projects" href="https://github.com/dracarys18" target=_blank>GitHub</a>
    </li>
    <li class="pr">
        <a class="projects" href="https://twitter.com/karthihegde" target=_blank>Twitter</a>
    </li>
</ul>
</p>
</div>
</body>
<hr/>
<footer class="copyright">
    <p>
        <small>
            Copyright {{year}} Karthikey Hegde
        </small>
    </p>
    <p>
        <small>
            Rust Version {{version}}
        </small>
    </p>
</footer>
</html>
